@import '../../constants/variables';

.#{$brand-prefix}-main-page-container {
  &.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  &.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media screen and (max-width: 767px) {
  .#{$brand-prefix}-main-page-container {
    width: 100%;
  }

  .expanded ~ .#{$brand-prefix}-main-page-container {
    animation: collapse 1s forwards;
  }

  .collapsed ~ .#{$brand-prefix}-main-page-container {
    animation: expand 1s forwards;
  }

  @keyframes collapse {
    0% {
      width: 100%;
    }

    100% {
      width: 0;
    }
  }

  @keyframes expand {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .#{$brand-prefix}-main-page-container {
    width: 100%;
  }

  .expanded ~ .#{$brand-prefix}-main-page-container {
    animation: collapse 1s forwards;
  }

  .collapsed ~ .#{$brand-prefix}-main-page-container {
    animation: expand 1s forwards;
  }

  @keyframes collapse {
    0% {
      width: 100%;
    }

    100% {
      width: 50%;
    }
  }

  @keyframes expand {
    0% {
      width: 50%;
    }

    100% {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .#{$brand-prefix}-main-page-container {
    width: 100% !important;
  }
}
