@media screen and (max-width: 480px) {
  .sh-service-points-container {
    min-width: 300px;
  }
  td {
    width: 50%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .sh-service-points-container {
    min-width: 100%;
  }
  td {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .sh-service-points-container {
    min-width: 100%;
  }
}
.p-datatable .p-column-filter {
  border-width: 0;
  font-size: 12px;
  border-radius: 4px;
}

.p-tooltip-text {
  padding: 8px;
  font-size: 12px;
}

.p-multiselect-token {
  background-color: #fcd800;
  color: #ffffff;
}

.p-multiselect-label-container {
  display: none;
}

.p-multiselect-trigger {
  width: 48px;
  height: 48px;
  background: var(--primary-color);
  border-radius: 50%;
  color: var(--primary-font-color);
}