@import '../../constants/variables.scss';

.#{$brand-prefix}-background-container {
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .#{$brand-prefix}-background-container {
    display: block;
    width: 75%;
  }
}

@media screen and (min-width: 1281px) {
  .#{$brand-prefix}-background-container {
    display: hidden;
  }
}
