.sh-background-container {
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .sh-background-container {
    display: block;
    width: 75%;
  }
}
@media screen and (min-width: 1281px) {
  .sh-background-container {
    display: hidden;
  }
}