.sh-background-container {
  background-image: url("https://ho.sharz.net/images/theme/5000/background.jpg");
}

.sh-card-container {
  background-color: "";
  color: #000000;
}
.sh-card-container label {
  color: #000000;
}