@import "../../constants/variables";

.#{$brand-prefix}-background-container {
    @if loginPageBackgroundImage {
        background-image: url($loginPageBackgroundImage);
    } @else {
        background-color: $loginBackgroundColor;
    }
}

.#{$brand-prefix}-card-container {
    @if $loginBackgroundImage != "" {
      background-image: url($loginBackgroundImage);
    } @else {
      background-color: $loginBackgroundColor;
    }
    color: $fontColor;

    label {
        color: $fontColor;
    }
}