$borderColor: #000000;
$borderFocusColor: #FFCE0B;
$borderRadius: 6px;
$buttonBackgroundColor: #FFCC00;
$buttonHoverBackgroundColor: #FFCC00B3;
$fontSize: 32px;
$inputBackgroundColor: #FFFFFF;
$loginBackgroundColor: #FFFFFF;
$loginBackgroundImage: "https://ho.sharz.net/images/theme/5000/background.jpg";
$loginFormBackgroundColor: #54565A;
$loginFormBackgroundImage: "";
$loginPageBackgroundImage: "";
$textColor: #000000;

.sh-card-container {
    background-color: $loginBackgroundColor;
    color: $textColor;
}

.input {
    border-color: $borderColor;
    border-radius: $borderRadius;
    background-color: $inputBackgroundColor;
}

.input:focus {
    border-color: $borderFocusColor;
}

.button {
    border-color: $borderColor;
    border-radius: $borderRadius;
    background-color: $buttonBackgroundColor;
}

.button:hover {
    background-color: $buttonHoverBackgroundColor;
}