.sh-card-container {
  background-color: #FFFFFF;
  color: #000000;
}

.login-button {
  border-color: #000000;
  border-radius: 6px;
  background-color: #FCD800;
}

.login-button:hover {
  background-color: rgba(252, 216, 0, 0.7019607843);
}