.sh-card-container {
  background-color: #FFFFFF;
  color: #000000;
}

.input {
  border-color: #000000;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.input:focus {
  border-color: #FFCE0B;
}

.button {
  border-color: #000000;
  border-radius: 6px;
  background-color: #FFCC00;
}

.button:hover {
  background-color: rgba(255, 204, 0, 0.7019607843);
}