.sh-navbar-container {
  position: relative;
  height: 35px;
  background-color: #656567;
  border-radius: 8px;
}
.sh-navbar-container button {
  height: 100%;
  font-size: 12px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
.sh-navbar-container button:not(:first-child):not(:last-child) {
  border-width: 0 2px 0 2px;
  border-color: #54565a;
  border-style: solid;
}
.sh-navbar-container button:first-child {
  border-width: 0 2px 0 0;
  border-color: #54565a;
}
.sh-navbar-container button:last-child {
  border-width: 0 0 0 2px;
  border-color: #54565a;
}
.sh-navbar-container button.active {
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 5px;
  background-color: #fcd800;
  color: black;
  border: none;
}
@media (min-width: 768px) {
  .sh-navbar-container button svg {
    margin: 0 5px;
  }
}