.isPassive input:focus,
.isPassive input:active {
  background-color: #9b1c1c;
}

.isPassive input:checked {
  background-color: #9b1c1c;
  border: 1px solid #ffffff;
}

input[type=checkbox]:focus {
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 0;
}

td {
  width: 12.5%;
}

thead > tr > th:nth-child(1) {
  text-align: right;
  padding-right: 20px;
}

tr td:nth-child(1) {
  text-align: right;
  padding-right: 20px;
}

.connector-item {
  display: flex;
  align-items: center;
  position: relative;
}

.kw-info {
  margin-left: 10px;
}

.time-table {
  width: 100%;
  border-collapse: collapse;
}

.time-table th, .time-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.time-table th {
  background-color: #f4f4f4;
}

.hour-label {
  font-weight: bold;
}

.time-slot {
  cursor: pointer;
  height: 30px;
}

.time-slot.selected {
  background-color: #f98080;
}

.time-slot.passive {
  background-color: lightgray;
  cursor: not-allowed;
}