.isPassive input:focus,
.isPassive input:active {
  background-color: #9b1c1c;
}

.isPassive input:checked {
  background-color: #9b1c1c;
  border: 1px solid #ffffff;
}

input[type=checkbox]:focus {
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 0;
}

td {
  width: 12.5%;
}

tr td:nth-child(1) {
  text-align: center;
}

.connector-item {
  display: flex;
  align-items: center;
  position: relative;
}

.kw-info {
  margin-left: 10px;
}

.working-hours-time-table {
  width: 100%;
  border-collapse: collapse;
}

.working-hours-time-table th,
.working-hours-time-table td {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  height: 15px;
}

.working-hours-time-table th {
  background-color: #f2f2f2;
}

.working-hours-hour-label {
  font-weight: bold;
}

.working-hours-time-slot {
  cursor: pointer;
  height: 30px;
}

td.selected {
  background-color: #f98080;
}

.workinh-hours-time-slot.passive {
  background-color: lightgray;
  cursor: not-allowed;
}

.p-accordion-header-link {
  width: 100%;
  background-image: linear-gradient(315deg, #ffffff, #fcaf17);
  color: #ffffff;
  padding: 0.75rem;
}

.p-accordion-content {
  padding: 0;
}