@import "../../constants/variables";

.#{$brand-prefix}-tabs-container {
  position: relative;
  height: 35px;
  background-color: #aaaaaa;
  color: #FFFFFF;
  border-radius: 8px;

  button {
    height: 100%;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

    &:not(:first-child):not(:last-child) {
      border-width: 0 2px 0 2px;
      border-color: var(--primary-color);
      border-style: solid;
    }

    &:first-child {
      border-width: 0 2px 0 0;
      border-color: var(--primary-color);
    }

    &:last-child {
      border-width: 0 0 0 2px;
      border-color: var(--primary-color);
    }

    &.active {
      height: 100%;
      top: 0;
      z-index: 0;
      transition: all 0.5s ease 0s;
      background-color: var(--primary-color);
      color: var(--primary-font-color);
      border: none;
    }

    @media (min-width: 768px) {
      svg {
        margin: 0 5px;
      }
    }
  }
}
