.sh-tabs-container {
  position: relative;
  height: 35px;
  background-color: var(--secondary-color);
  border-radius: 8px;
}
.sh-tabs-container button {
  height: 100%;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
.sh-tabs-container button:not(:first-child):not(:last-child) {
  border-width: 0 2px 0 2px;
  border-color: var(--primary-color);
  border-style: solid;
}
.sh-tabs-container button:first-child {
  border-width: 0 2px 0 0;
  border-color: var(--secondary-color);
}
.sh-tabs-container button:last-child {
  border-width: 0 0 0 2px;
  border-color: var(--secondary-color);
}
.sh-tabs-container button.active {
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  border: none;
}
@media (min-width: 768px) {
  .sh-tabs-container button svg {
    margin: 0 5px;
  }
}