$brand-prefix: 'sh';
$spinnerColor: #FCD800; // Primary Color
$borderColor: #D3D3D3; // Default Black Color
$borderFocusColor: #FFCE0B; // Primary Color
$borderRadius: 6px; // Default 6px
$fontSize: 16px; // Default 16px
$fontColor: #000000; // Default Black Color
$loginPageBackgroundImage: "https://ho.sharz.net/images/theme/5000/background.jpg"; // Default Background Image
$loginBackgroundImage: "";
$loginBackgroundColor: "";
