$brand-prefix: 'sh';
$spinnerColor: #FCD800;
$borderColor: #D3D3D3;

// Login Page
$fontColor: #000000;
$loginBackgroundColor: #FFFFFF;
$loginBackgroundImage:  ""; //"";
$loginPageBackgroundImage: "https://ho.sharz.net/images/theme/5000/background.jpg";
