$brand-prefix: 'sh';
$spinnerColor: #FCD800; // Primary Color
$borderColor: #D3D3D3; // Default Black Color
$borderFocusColor: #FFCE0B; // Primary Color
$borderRadius: 6px; // Default 6px
$fontSize: 16px; // Default 16px
$fontColor: #000000; // Default Black Color
$loginPageBackgroundImage: "https://ho.sharz.net/images/theme/5000/background.jpg"; // Default Background Image
$loginBackgroundImage: "";
$loginBackgroundColor: "";

// $default-primary-color: #FCD800; // Default Primary Color
// $secondary-color: #D3D3D3; // Default Secondary Color

$default-primary-color: #0075bf; // Default Primary Color
$secondary-color: #9acd66; // Default Secondary Color

$primary-color: $default-primary-color;
$primary-font-color: #FFFFFF;
$primary-color-hover: lighten($primary-color, 10%);
$primary-button-color: $primary-color;
$primary-button-color-hover: $primary-color-hover;

$secondary-color: $default-primary-color;
$secondary-color-hover: lighten($secondary-color, 10%);
$secondary-button-color: $secondary-color;
$secondary-button-color-hover: $secondary-color-hover;
