@import '../../constants/variables';

.p-datatable .p-column-filter {
  border-width: 0;
  font-size: 12px;
  border-radius: 4px;
}

.p-tooltip-text {
  padding: 8px;
  font-size: 12px;
}

.p-multiselect-token {
  background-color: #{$primary-color};
  color: #{$primary-font-color};
}

.p-multiselect-label-container {
  display: none;
}

.p-multiselect-trigger {
  width: 48px;
  height: 48px;
  background: var(--primary-color);
  border-radius: 50%;
  color: var(--primary-font-color);
}
