/* Mobil cihazlar için */
@media only screen and (max-width: 767px) {
  .sh-sidebar-container {
    overflow: hidden;
  }

  .expanded {
    animation: expand-mobile 1s forwards;
  }

  .collapsed {
    animation: collapse-mobile 1s forwards;
  }

  @keyframes expand-mobile {
    0% {
      width: 0;
    }
    100% {
      width: 50%;
    }
  }

  @keyframes collapse-mobile {
    0% {
      width: 50%;
    }
    100% {
      width: 0;
    }
  }
}

/* Masaüstü/Tablet cihazlar için */
@media only screen and (min-width: 768px) {
  .sh-sidebar-container {
    overflow: hidden;
    width: 20%;
  }

  .expanded {
    animation: expand-desktop 1s forwards;
    width: 20%;
  }

  .collapsed {
    animation: collapse-desktop 1s forwards;
    width: 4%;
  }

  @keyframes expand-desktop {
    0% {
      width: 5%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 20%;
    }
  }

  @keyframes collapse-desktop {
    0% {
      width: 20%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 4%;
    }
  }
}
