/* Mobile */
@media only screen and (max-width: 767px) {
  .sh-sidebar-container {
    width: 0;
    overflow: hidden;
  }
  .expanded {
    animation: expand-mobile 1s forwards;
  }
  .expanded img {
    padding: 0 16px;
  }
  .collapsed {
    animation: collapse-mobile 1s forwards;
  }
  @keyframes expand-mobile {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes collapse-mobile {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .sh-sidebar-container {
    width: 0;
    overflow: hidden;
  }
  .expanded {
    animation: expand-mobile 1s forwards;
  }
  .expanded img {
    padding: 0 16px;
  }
  .collapsed {
    animation: collapse-mobile 1s forwards;
  }
  @keyframes expand-mobile {
    0% {
      width: 0;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes collapse-mobile {
    0% {
      width: 50%;
    }
    100% {
      width: 0;
    }
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .sh-sidebar-header-logo {
    height: 80px;
  }
  .sh-sidebar-container {
    overflow: hidden;
    width: 4%;
  }
  .sh-sidebar-container img {
    padding: 0 5px;
  }
  .sh-sidebar-container li.active {
    background-color: var(#fcaf17);
  }
  .expanded {
    animation: expand-desktop 1s forwards;
    overflow: hidden !important;
    width: 20%;
  }
  .expanded img {
    padding: 0 16px;
  }
  .collapsed {
    animation: collapse-desktop 1s forwards;
    width: 4%;
  }
  .collapsed ul {
    align-items: center;
  }
  @keyframes expand-desktop {
    0% {
      width: 4%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 20%;
    }
  }
  @keyframes collapse-desktop {
    0% {
      width: 20%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 4%;
    }
  }
}