.sh-loading-spinner-container {
  background-color: #54565a;
}
.sh-loading-spinner-container .sh-loading-spinner {
  border: 16px solid #d3d3d3;
  width: 120px;
  height: 120px;
  border-top: 16px solid #fcaf17;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}