.loading-spinner {
  border: 16px solid lightgray;
  width: 120px;
  height: 120px;
  border-top: 16px solid #FFCC00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}