.sh-main-page-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (min-width: 1280px) {
  .sh-main-page-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sh-main-page-container {
    width: 100%;
  }
  .sh-dashboard-page-container .expanded ~ .sh-main-page-container {
    animation: collapse 1s forwards;
  }
  .sh-dashboard-page-container .collapsed ~ .sh-main-page-container {
    animation: expand 1s forwards;
  }
  @keyframes collapse {
    0% {
      width: 100%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes expand {
    0% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .sh-main-page-container {
    width: 100%;
  }
  .sh-dashboard-page-container .expanded ~ .sh-main-page-container {
    animation: collapse 1s forwards;
  }
  .sh-dashboard-page-container .collapsed ~ .sh-main-page-container {
    animation: expand 1s forwards;
  }
  @keyframes collapse {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}