@import "../../constants/variables";

.#{$brand-prefix}-filter-container,
.#{$brand-prefix}-filter-accordions-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.#{$brand-prefix}-filter-container {

    &.expanded {
        animation: expand-filter 0.5s ease-in-out;
        padding: 16px;
        border: 1px solid $borderColor;
    }

    @keyframes expand-filter {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }
}