@import '../../constants/variables.scss';

.#{$brand-prefix}-section-container {
  min-height: auto !important;

  .#{$brand-prefix}-dashboards-page-container {
    .#{$brand-prefix}-card-container {
      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
.gm-style-iw.gm-style-iw-c {
  padding: 4px !important;
  max-width: 250px !important;
}

.gm-ui-hover-effect {
  width: 24px !important;
  height: 24px !important;
}
.gm-ui-hover-effect span {
  width: 24px !important;
  height: 24px !important;
  margin: 0 !important;
}

.gm-style-iw-d {
  padding: 0 !important;
  overflow: auto !important;
}

.gm-style-iw-d,
.gm-style-iw-ch {
  padding: 0 !important;
}

.gm-style-iw-chr {
  display: none !important;
}
