.sh-table-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table {
  min-height: 850px;
}


td {
  width: calc(100% / 6);
  max-height: 85px !important;
  height: 10%;
}

tr {
  height: 10%;
  max-height: 85px !important;

  &:nth-child(even) {
   
    background-color: #EEEEEE;
  }
}

@media screen and (max-width: 480px) {
  .sh-service-points-container {
    min-width: 300px;
  }

  td {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .sh-service-points-container {
    min-width: 100%;
  }

  td {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .sh-service-points-container {
    min-width: 100%;
  }
}
