.sh-sidebar-container {
  width: 16%;
  overflow: hidden;
}

.expanded {
  width: 16%;
  animation: expand 1s forwards;
}

.collapsed {
  width: 4%;
  animation: collapse 1s forwards;
}

@keyframes expand {
  0% {
    width: 4%;
  }
  50% {
    width: 0;
  }

  100% {
    width: 16%;
  }
}

@keyframes collapse {
  0% {
    width: 16%;
  }
  50% {
    width: 0;
  }

  100% {
    width: 4%;
  }
}

.row {
  display: table-row; /* Açıldığında maksimum yükseklik */
}

.hidden-row {
  display: none;
  overflow: hidden;
  transition: display 0.7s ease-out;
}
